{% extends 'base.html' %}
{% block title %}Photo Detail{% endblock %}

{% block contents %}
<br>
<div class="container">
    <div class="row">
        <div class="col offset-3">
            <h2>{{ object.title }}</h2>
            <p>{{ object.comment }}</p>
            <br>
            <p>{{ object.posted_at }}に投稿</p>


            <p><img src="{{ object.image1.url }}" alt="Image 1"></p>

            {% if object.image2 %}
                <p><img src="{{ object.image2.url }}" alt="Image 2"></p>
            {% endif %}
            {% if object.image3 %}
                <p><img src="{{ object.image3.url }}" alt="Image 3"></p>
            {% endif %}
            {% if object.image4 %}
                <p><img src="{{ object.image4.url }}" alt="Image 4"></p>
            {% endif %}
            {% if object.image5 %}
                <p><img src="{{ object.image5.url }}" alt="Image 5"></p>
            {% endif %}
            {% if object.image6 %}
                <p><img src="{{ object.image6.url }}" alt="Image 6"></p>
            {% endif %}
            {% if object.image7 %}
                <p><img src="{{ object.image7.url }}" alt="Image 7"></p>
            {% endif %}
            {% if object.image8 %}
                <p><img src="{{ object.image8.url }}" alt="Image 8"></p>
            {% endif %}
            {% if object.image9 %}
                <p><img src="{{ object.image9.url }}" alt="Image 9"></p>
            {% endif %}
            {% if object.image10 %}
                <p><img src="{{ object.image10.url }}" alt="Image 10"></p>
            {% endif %}

            {% if request.user == object.user %}
                <form method="POST">
                    <a href="{% url 'photo:photo_delete' object.pk %}" class="btn btn-primary my-2">削除する</a>
                </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
